#set( $nameMap = ${Utilities.createConceptUniqueNames($language)} )
package ${ModelUtilities.getLanguagePackageName($language)}.$package;

#foreach( $concept in ${Utilities.getConceptsNeededForImport($nameMap)} )
import ${ModelUtilities.getFullConceptClassName($language, $concept)};
#end
import ${ModelUtilities.getLanguagePackageName($language)}.${visitorPackage}.${visitorClassName};

import java.io.PrintWriter;
import java.util.List;
import java.util.Set;
import java.util.HashMap;
import java.util.Map;

public class $className extends ${visitorClassName}<PrintWriter> {
#if ( !$language.skips.isEmpty() )
## #set( $whiteSpace = ${language.skips.get(0)} )
#set( $whiteSpace = " " )
#else
#set( $whiteSpace = " " )
#end
    private final String WHITE_SPACE = "${whiteSpace}";
    private String indentString = "    "; //4 spaces
    private int indent = 0;
    private boolean inNewLine = true;

    public void print(Object o, PrintWriter writer) {
        inNewLine = true;
        visit(o, writer);
        writer.println();
        writer.flush();
    }

#foreach( $concept in $language.concepts )
    @Override
    protected void visit${Utilities.getMethodPartName($nameMap, $concept)}(${Utilities.getClassName($nameMap, $concept)} ${Utilities.toLowerCaseIdent($concept.conceptName)}, PrintWriter p) {
        if (${Utilities.toLowerCaseIdent($concept.conceptName)} == null) {
            return;
        }
 #set( $conceptPatterns = ${concept.patterns} )
 #set( $hasEnumPattern = ${Utilities.hasClassInList(${conceptPatterns},${enumPatternClassName})} )
 #set( $hasClassIndentPattern = ${Utilities.hasClassInList(${conceptPatterns},${indentPatternClassName})} )
 #set( $classIndentPattern = ${Utilities.getObjectFromList(${conceptPatterns},${indentPatternClassName})} )
 #set( $hasClassNewLinePattern = ${Utilities.hasClassInList(${conceptPatterns},${newLinePatternClassName})} )
#if( $hasClassIndentPattern )
        increaseIndent(${classIndentPattern.level});
#end
#if( $hasClassNewLinePattern )
        newLine(p);
#end
#if ( $hasEnumPattern )
        printLiteral(${Utilities.toLowerCaseIdent($concept.conceptName)}.name(), p);
 #if( $hasClassIndentPattern )
        decreaseIndent(${classIndentPattern.level});
 #end
    }
#else
 #set( $hasParenthesesPattern = ${Utilities.hasClassInList(${conceptPatterns},${parenthesesPatternClassName})} )
 #set( $parenthesesPattern = ${Utilities.getObjectFromList(${conceptPatterns},${parenthesesPatternClassName})} )
 #set( $notationCount = $concept.concreteSyntax.size() )
 #if( $hasParenthesesPattern )
        printNonSpacedLiteral("${parenthesesPattern.left}", p);
 #end
##
##
##
## Volanie viac specifickych metod ak niektory koncept dedi od aktualneho
##
 #set( $descendants = ${ModelUtilities.getDirectDescendantConcepts(${concept}, ${language})} )
 #if( !$descendants.isEmpty() )
  #set( $ifBranchToken = "if" )
  #foreach( $descendant in $descendants )
        $ifBranchToken (${Utilities.toLowerCaseIdent($concept.conceptName)} instanceof ${Utilities.getClassName($nameMap, $descendant)}) {
            visit${Utilities.getMethodPartName($nameMap, $descendant)}((${Utilities.getClassName($nameMap, $descendant)}) ${Utilities.toLowerCaseIdent($concept.conceptName)}, p);
        }
  #set( $ifBranchToken = "else if" )
  #end
        else {
 #end
##
##
## tvorba podmienok pre urcenie najlepsej notacie z viacerych pre pouzitie na zapis
##
 #if ( $notationCount > 1 )
  #set( $notationValuedList = ${Utilities.getValuedNotationList(${concept})} )
  #set( $ifBranchToken = "if" )
  #foreach( $notationRank in $notationValuedList )
        $ifBranchToken (true
   #set( $notation = $concept.concreteSyntax.get(${notationRank}) )
   #foreach( $notationPart in $notation.parts )
    #if( ${ModelUtilities.getPropertyFromNotationPart(${notationPart},${concept})} )
     #set( $property = ${ModelUtilities.getPropertyFromNotationPart(${notationPart},${concept})} )
     #set( $type = ${property.type} )
     #set( $getterExpr = "${Utilities.toLowerCaseIdent($concept.conceptName)}.get${Utilities.toUpperCaseIdent($property.name)}()")
     #if(${Utilities.getClassName($type)} == $optionalTypeClassName)
        #set( $type = $type.componentType)
        #set( $getterExpr = "unwrapOptional(${getterExpr})")
        ## Ignore missing optional property
        && ( ${getterExpr} == null || (true
     #end
     #set( $className = ${Utilities.getClassName($type)} )
     #if( $className == $arrayTypeClassName || $className == $listTypeClassName || $className == $setTypeClassName)
      #set( $hasRangePattern = ${Utilities.hasClassInList(${notationPart.patterns},${rangePatternClassName})} )
      #set( $rangePattern = ${Utilities.getObjectFromList(${notationPart.patterns},${rangePatternClassName})} )
      #if( ${Utilities.getClassName($type.componentType)} == $referenceTypeClassName )
          && $getterExpr != null
       #if( $hasRangePattern )
         #if( $className == $arrayTypeClassName )
          && ${getterExpr}.length >= ${rangePattern.minOccurs}
         #else
          && ${getterExpr}.size() >= ${rangePattern.minOccurs}
         #end
        #if( $rangePattern.maxOccurs != $rangePatternInfinityValue )
         #if( $className == $arrayTypeClassName )
          && ${getterExpr}.length <= ${rangePattern.maxOccurs}
         #else
          && ${getterExpr}.size() <= ${rangePattern.maxOccurs}
         #end
        #end
       #else
         #if( $className == $arrayTypeClassName )
          && ${getterExpr}.length > 0
         #else
          && !${getterExpr}.isEmpty()
         #end
       #end
      #end
     #elseif( $className == $primitiveTypeClassName )
      #if( ${ModelUtilities.isStringType(${type})} )
          && $getterExpr != null
      #end
      ## stale to musi mat nejaku hodnotu pri int, real, boolean, cize netreba dalej kontrolovat
     #elseif( $className == $referenceTypeClassName )
           && $getterExpr != null
     #else
        $Utilities.throwGeneratorException("Not known type for ${property.name}")
        // not known type for ${property.name}
     #end
     #if(${Utilities.getClassName($property.type)} == $optionalTypeClassName)
         ## close parentheses for optional properties
         ))
     #end
    #end
   #end
        ) { print${Utilities.getMethodPartName($nameMap, $concept)}Notation${notationRank}(${Utilities.toLowerCaseIdent($concept.conceptName)}, p); }
   #set( $ifBranchToken = "else if" )
  #end
        else {
            throw new IllegalStateException("Cannot find proper notation for printing concept ${concept.name}");
        }
 #end
##
##
## Tvorba samotneho hlavneho tela metody
##
 #if ( $notationCount == 1 )
  #foreach( $notation in $concept.concreteSyntax )
   #foreach( $notationPart in $notation.parts )
    #processNotationPart( $notationPart )
   #end
  #end
 #end
 #if( !$descendants.isEmpty() )
        }
 #end
 #if( $hasParenthesesPattern )
        printNonSpacedLiteral("${parenthesesPattern.right}", p);
 #end
 #if( $hasClassIndentPattern )
        decreaseIndent(${classIndentPattern.level});
 #end
    }

 #if ( $notationCount > 1 )
  #foreach( $notation in $concept.concreteSyntax )
    protected void print${Utilities.getMethodPartName($nameMap, $concept)}Notation${concept.concreteSyntax.indexOf(${notation})}(${Utilities.getClassName($nameMap, $concept)} ${Utilities.toLowerCaseIdent($concept.conceptName)}, PrintWriter p) {
   #foreach( $notationPart in $notation.parts )
    #processNotationPart( $notationPart )
   #end
    }
  #end
 #end
##
##
## Tvorba metod na prechadzanie polom prvkov v konceptoch
##
 #foreach( $property in $concept.abstractSyntax )
  #set( $type = $property.type )
     #if(${Utilities.getClassName($type)} == $optionalTypeClassName)
         #set( $type = $type.componentType)
     #end
  #set( $className = ${Utilities.getClassName($type)} )
  #if( $className == $arrayTypeClassName || $className == $listTypeClassName || $className == $setTypeClassName )
   #if( ${Utilities.getClassName($type.componentType)} == $referenceTypeClassName )
    @Override
    protected void visit${Utilities.toUpperCaseIdent($property.name)}In${Utilities.getMethodPartName($nameMap, $concept)}(#writeSpecifiedType($type ${Utilities.getClassName($nameMap, $type.componentType.concept)}) ${Utilities.toLowerCaseIdent($property.name)}, PrintWriter p) {
           if (${Utilities.toLowerCaseIdent($property.name)} == null) {
               return;
           }
    #set( $patterns = ${ModelUtilities.getAllPatterns(${property},${concept})} )
    #set( $separator = false )
    #set( $separator = ${Utilities.getObjectFromList(${patterns},${separatorPatternClassName})} )
    #if( $separator )
        boolean separate = false;
    #end
        for (${Utilities.getClassName($nameMap, $type.componentType.concept)} ${Utilities.toLowerCaseIdent($type.componentType.concept.conceptName)} : ${Utilities.toLowerCaseIdent($property.name)}) {
    #if( $separator )
            if (separate) {
                printNonSpacedLiteral("${separator.value}", p);
            }
    #end
            visit${Utilities.getMethodPartName($nameMap, $type.componentType.concept)}(${Utilities.toLowerCaseIdent($type.componentType.concept.conceptName)}, p);
    #if( $separator )
            separate = true;
    #end
        }
    }

   #end
  #end
 #end
#end
#end
##koniec
    protected void newLine(PrintWriter p) {
        p.println();
        for (int i = 0; i < indent; i++) {
            p.print(indentString);
        }
        inNewLine = true;
    }

    protected void increaseIndent() {
        if (indent != Integer.MAX_VALUE) {
            indent++;
        }
    }
    protected void increaseIndent(int level) {
        changeIndent(level);
    }

    protected void decreaseIndent(int level) {
        changeIndent(-level);
    }

    protected void changeIndent(int level) {
        indent = indent + level;
        if (indent < 0) {
            if (level > 0) { //pripocitavali sme, muselo pretiect
                indent = Integer.MAX_VALUE;
            } else {
                indent = 0;
            }
        }
    }

    protected void decreaseIndent() {
        if (indent > 0) {
            indent--;
        }
    }

    public String getIndentString() {
        return indentString;
    }

    public void setIndentString(String indentString) {
        this.indentString = indentString;
    }

    protected void printLiteral(String literal, PrintWriter p) {
        if (!inNewLine) {
            p.write(WHITE_SPACE);
        } else {
            inNewLine = false;
        }
        printNonSpacedLiteral(literal, p);
    }

    protected void printLiteral(int number, PrintWriter p) {
        printLiteral(String.valueOf(number), p);
    }

    protected void printLiteral(long number, PrintWriter p) {
        printLiteral(String.valueOf(number), p);
    }

    protected void printLiteral(float number, PrintWriter p) {
        printLiteral(String.valueOf(number), p);
    }

    protected void printLiteral(double number, PrintWriter p) {
        printLiteral(String.valueOf(number), p);
    }

    protected void printLiteral(boolean number, PrintWriter p) {
        printLiteral(String.valueOf(number), p);
    }

    protected void printLiteral(char number, PrintWriter p) {
        printLiteral(String.valueOf(number), p);
    }

    protected void printLiteral(char[] number, PrintWriter p) {
        printLiteral(String.valueOf(number), p);
    }

    protected void printLiteral(String[] idents, PrintWriter p) {
        for (String string : idents) {
            printLiteral(string, p);
        }
    }

    protected void printNonSpacedLiteral(String literal, PrintWriter p) {
        if (tokens.containsKey(literal.toUpperCase())) {
            //p.write(PrinterHelper.generateExpressionFromRegex(tokens.get(literal.toUpperCase())));
            p.write(tokens.get(literal.toUpperCase()));
        } else {
            p.write(literal);
        }
        if (inNewLine) {
            inNewLine = false;
        }
    }

    private Map<String, String> tokens = new HashMap<String, String>();
    {
#foreach( $token in $language.tokens)
        tokens.put("${token.name}".toUpperCase(), "${token.regexp.replace($backslash, $doubleBackslash).replace($quote, $escapedQuote)}");
#end
    }
}
##
##
##
##
##
#macro( processNotationPart $notationPart )
   #set( $property = ${ModelUtilities.getPropertyFromNotationPart(${notationPart},${concept})} )
   #if( $property )
    #set( $getterExpr = "${Utilities.toLowerCaseIdent($concept.conceptName)}.get${Utilities.toUpperCaseIdent($property.name)}()")
   #end
   #set( $hasPatternSupport = ${Utilities.instanceOf(${notationPart},${patternSupportClassName})} )
   #if( $hasPatternSupport )
    #set( $hasNewLinePattern = ${Utilities.hasClassInList(${notationPart.patterns},${newLinePatternClassName})} )
    #set( $hasIndentPattern = ${Utilities.hasClassInList(${notationPart.patterns},${indentPatternClassName})} )
    #set( $indentPattern = ${Utilities.getObjectFromList(${notationPart.patterns},${indentPatternClassName})} )
    #if( $hasIndentPattern )
        increaseIndent(${indentPattern.level});
    #end
    #if( $hasNewLinePattern )
        newLine(p);
    #end
   #end
   #set( $notationPartClassName = ${Utilities.getClassName($notationPart)} )
   #if( $notationPartClassName == $tokenPartClassName )
        printLiteral("${notationPart.token}", p);
   #elseif( $notationPartClassName == $propertyReferencePartClassName || $notationPartClassName == $localVariablePartClassName)
    #set( $type = ${property.type} )
    #if(${Utilities.getClassName($type)} == $optionalTypeClassName)
       #set( $type = $type.componentType)
       #set( $getterExpr = "unwrapOptional(${getterExpr})")
    #end
    #set( $className = ${Utilities.getClassName($type)} )
    #if( $className == $arrayTypeClassName || $className == $listTypeClassName || $className == $setTypeClassName)
     #if( ${Utilities.getClassName($type.componentType)} == $referenceTypeClassName )
        visit${Utilities.toUpperCaseIdent($property.name)}In${Utilities.getMethodPartName($nameMap, $concept)}($getterExpr, p);
     #end
    #elseif( $className == $primitiveTypeClassName )
        printLiteral(${Utilities.toLowerCaseIdent($concept.conceptName)}.get${Utilities.toUpperCaseIdent($notationPart.property.name)}(), p);
    #elseif( $className == $referenceTypeClassName )
     #if( $notationPartClassName == $localVariablePartClassName )
      ## je potrebne vypisat len hodnotu z Identifier property, kedze je to referencovane len menom v originali
      #set( $propertyWithIdentifier = ${ModelUtilities.getIdentifierProperty(${type.concept}).property} )
        printLiteral(${getterExpr}.get${Utilities.toUpperCaseIdent(${propertyWithIdentifier.name})}(), p);
     #else
##      #set( $hasLocalParenthesesPattern = ${Utilities.hasClassInList(${$type.concept.patterns},${parenthesesPatternClassName})} )
##        #if ( $hasLocalParenthesesPattern )
##
##        #end
        visit${Utilities.getMethodPartName($nameMap, $type.concept)}($getterExpr, p);
     #end
    #else
        $Utilities.throwGeneratorException("Not known type for ${property.name}")
        // not known type for ${property.name}
    #end
   #elseif( $notationPartClassName == $optionalPartClassName )
       if (unwrapOptional(${getterExpr}) != null) {
       #foreach( $notationPart in $notationPart.parts )
           #processNotationPart( $notationPart )
       #end
       }
   #else
        // not known type for NotationType
   #end
   #if( $hasPatternSupport )
    #if( $hasIndentPattern )
        decreaseIndent(${indentPattern.level});
    #end
   #end
#end
##
##
##
#macro(writeSpecifiedType $type $conceptName )
#set( $className = ${Utilities.getClassName($type)} )
#if ( $className == $arrayTypeClassName )
${conceptName}[]
#elseif ( $className == $listTypeClassName )
List<${conceptName}>
#elseif ( $className == $setTypeClassName )
Set<${conceptName}>
#end
#end
