##
##Input - parserClassPackageName
package $parserClassPackageName;

public class ParseException extends Exception {
	public ParseException(String message, Throwable cause) {
		super(message, cause);
	}
}