##
##Input - parserClassPackageName
package $parserClassPackageName;

public class LALRParseException extends Exception {
	public LALRParseException(String message, Throwable cause) {
		super(message, cause);
	}
}