##
##Input - parserClassPackageName
package $parserClassPackageName;

public class ParseException extends yajco.parser.ParseException {
    public ParseException(String message, Throwable cause) {
        super(message, cause);
    }
}
